.treatment-list {
    padding: 16px 0px;
}

.treatment-hero {
    background: #f4f4f4;
}

.graph-column {
    display: flex;
    background: #f5f5f5;
    justify-content: center;
}

#treatmentResults {
    height: 50vh;
}